# Server Environment Template
NODE_ENV=development
PORT=5001

CLIENT_URL=http://localhost:5173

MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/rishabh-provision-store?retryWrites=true&w=majority

# 256-bit Cryptographic Hex Secrets
JWT_SECRET=01219d00a74b8d9a00b4b2d954d64ff4a681bd8445fb633b986f74e97e95d685
JWT_REFRESH_SECRET=4eff9300d44bec312ddd70f9a7a7178f1a13a838042ba65f3e7c2ad3d8d1a40e

LOG_LEVEL=info
